* {
  margin: 0;
  padding: 0;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__title {
  font-family: 'Khand', sans-serif;
  color: white;
  font-size: 2.8rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.MuiSelect-outlined.MuiSelect-outlined {
  background-color: white;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
