.map {
  height: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-flag {
  height: 100px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
  background-position: center;
}

.info-confirmed,
.info-deaths,
.info-recovered {
  font-size: 16px;
  margin-top: 5px;
}

.info-name {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}
